@media screen and (max-width:900px){
    .movie_emphasis {
        background-size: 100%;
        padding-left: 15px;
    }

    .movie_actions {
        width: 100%;
    }
}

@media screen and (max-width:800px){
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu_left, .menu_right {
        display: flex;
        flex-direction: column;
    }

    nav {
        display:inline-flex;
    } 

    .movie_emphasis {
        background-size: 100%;
        padding-left: 10px;
    }

    .movie_emphasis p {
        width: 100%;
    }

    .movie_logo {
        width: 50%;
    }

    .movie_actions {
        margin-bottom: 20px;
    }

    .carousel-title h1 {
        margin-top: 10px;
    }

    .carousel-films {
        margin-top: 40px;
    }
}

@media screen and (max-width:650px){
    .movie_emphasis {
        background-size: 100%;
    }

    .movie_actions button {
        text-align: center;
        margin-top: 10px;
        margin-right: 10px;
        width: 100%;
    }
}